@font-face {
  font-family: "iconfont"; /* Project id 3971012 */
  src: url('iconfont.eot?t=1679557890762'); /* IE9 */
  src: url('iconfont.eot?t=1679557890762#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1679557890762') format('woff2'),
       url('iconfont.woff?t=1679557890762') format('woff'),
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.robot-shuangmoshiqiehuan:before {
  content: "\e612";
}

.robot-zhuye:before {
  content: "\e65e";
}

.robot-caidan:before {
  content: "\e62c";
}

.robot-wj-rz:before {
  content: "\e715";
}

.robot-zhuangtai:before {
  content: "\e629";
}

.robot-sushuaiC:before {
  content: "\e61e";
}

.robot-lianjie:before {
  content: "\e68a";
}

.robot-jiting:before {
  content: "\e7f4";
}

.robot-yuandianxiao:before {
  content: "\e757";
}

.robot-debug-:before {
  content: "\e621";
}

.robot-xiazaidaoru:before {
  content: "\e8c7";
}

.robot-baocun:before {
  content: "\ec09";
}

.robot-zanting4:before {
  content: "\e662";
}

.robot-ziyuanxhdpi:before {
  content: "\e63a";
}

.robot-xinjian:before {
  content: "\e609";
}

.robot-kaishi:before {
  content: "\e788";
}

.robot-shangchuandaochu:before {
  content: "\ec66";
}

